<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gridwatch.kplc">
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".activities.billing.BalanceHistoryActivity"
            android:label="Balance Histories"
            />
        <activity
            android:name=".activities.billing.StatementHistoryActivity"
            android:label="Statement Histories"
            />
        <activity android:name=".activities.outage.ReportOutageActivity" />
        <activity android:name=".activities.outage.ReportRestorationActivity" />
        <activity android:name=".activities.outage.OutageMapActivity" />
        <activity android:name=".activities.social_media.FacebookActivity" />
        <activity android:name=".activities.social_media.Twitter.TwitterActivity" />
        <activity android:name=".activities.social_media.GooglePlusActivity" />
        <activity android:name=".activities.social_media.LinkedInActivity" />
        <activity android:name=".activities.ContactActivity" />
        <activity android:name=".activities.ShareActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="849d305db8fded5536031a07edf7e8fdc0ac65b8" />

        <activity
            android:name=".activities.social_media.Twitter.TwitterTimeline"
            android:label="@string/title_activity_twitter_timeline"></activity>
    </application>

</manifest>